# Виртуальное окружение
.venv/
venv/
env/

# Кэш Python
__pycache__/
*.pyc

# Настройки IDE
.idea/
.vscode/

# Базы данных
*.db

# Логи
*.log

# Секретные файлы
.env

# Файлы системы
.DS_Store
Thumbs.db
